小说角色定位增量合并-v2.yml
---
app:
  description: 输入小说 ID 和章节范围，逐章识别角色并增量合并角色定位。
  icon: "\U0001F916"
  icon_background: "#FFEAD5"
  mode: workflow
  name: 小说角色定位增量合并
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: 
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.15@725407927b04e236212083d20e92830d60fa944e42cd357ef6902c160414f6f1
    version: 
kind: app
version: 0.5.0
workflow:
  conversation_variables:
  - description: 循环游标，当前处理到章节数组的下标
    id: role-cursor-var
    name: cursor
    selector:
    - conversation
    - cursor
    value: 0
    value_type: number
  - description: 已增量合并的角色状态 JSON 字符串
    id: role-state-var
    name: role_state
    selector:
    - conversation
    - role_state
    value: "[]"
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - ".JPG"
      - ".JPEG"
      - ".PNG"
      - ".GIF"
      - ".WEBP"
      - ".SVG"
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 600
        batch_count_limit: 5
        file_size_limit: 600
        image_file_batch_limit: 10
        image_file_size_limit: 600
        single_chunk_attachment_limit: 10
        video_file_size_limit: 600
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1000000000001-source-1000000000002-target
      source: '1000000000001'
      sourceHandle: source
      target: '1000000000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1000000000002-source-1000000000003-target
      source: '1000000000002'
      sourceHandle: source
      target: '1000000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        sourceType: code
        targetType: tool
        loop_id: '1000000000005'
      id: 1000000000008-source-1000000000009-target
      source: '1000000000008'
      sourceHandle: source
      target: '1000000000009'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        sourceType: tool
        targetType: llm
        loop_id: '1000000000005'
      id: 1000000000009-source-1000000000010-target
      source: '1000000000009'
      sourceHandle: source
      target: '1000000000010'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        sourceType: llm
        targetType: code
        loop_id: '1000000000005'
      id: 1000000000010-source-1000000000011-target
      source: '1000000000010'
      sourceHandle: source
      target: '1000000000011'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        sourceType: code
        targetType: llm
        loop_id: '1000000000005'
      id: 1000000000011-source-1000000000012-target
      source: '1000000000011'
      sourceHandle: source
      target: '1000000000012'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        sourceType: llm
        targetType: code
        loop_id: '1000000000005'
      id: 1000000000012-source-1000000000013-target
      source: '1000000000012'
      sourceHandle: source
      target: '1000000000013'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        sourceType: code
        targetType: assigner
        loop_id: '1000000000005'
      id: 1000000000013-source-1000000000014-target
      source: '1000000000013'
      sourceHandle: source
      target: '1000000000014'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: loop
        targetType: code
      id: 1000000000005-source-1000000000015-target
      source: '1000000000005'
      sourceHandle: source
      target: '1000000000015'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1000000000015-source-1000000000016-target
      source: '1000000000015'
      sourceHandle: source
      target: '1000000000016'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: end
      id: 1000000000003-false-1000000000004-target
      selected: false
      source: '1000000000003'
      sourceHandle: 'false'
      target: '1000000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1000000000003-true-1000000000017-target
      selected: false
      source: '1000000000003'
      sourceHandle: 'true'
      target: '1000000000017'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: assigner
        targetType: loop
      id: 1000000000017-source-1000000000005-target
      selected: false
      source: '1000000000017'
      sourceHandle: source
      target: '1000000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: true
        sourceType: loop-start
        targetType: code
        loop_id: '1000000000005'
      id: 1000000000005start-source-1000000000018-target
      selected: false
      source: 1000000000005start
      sourceHandle: source
      target: '1000000000018'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        sourceType: code
        targetType: if-else
        loop_id: '1000000000005'
      id: 1000000000018-source-1000000000006-target
      selected: false
      source: '1000000000018'
      sourceHandle: source
      target: '1000000000006'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        sourceType: if-else
        targetType: loop-end
        loop_id: '1000000000005'
      id: 1000000000006-true-1000000000007-target
      selected: false
      source: '1000000000006'
      sourceHandle: 'true'
      target: '1000000000007'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: true
        sourceType: if-else
        targetType: code
        loop_id: '1000000000005'
      id: 1000000000006-false-1000000000008-target
      selected: false
      source: '1000000000006'
      sourceHandle: 'false'
      target: '1000000000008'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: 书籍id
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: book_id
        - default: ''
          hint: ''
          label: 开始章节sortid
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: start_chapter_index
        - default: ''
          hint: ''
          label: 结束章节sortid
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: number
          variable: end_chapter_index
      height: 156
      id: '1000000000001'
      position:
        x: 80
        y: 300
      positionAbsolute:
        x: 80
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        title: 章节范围校验与初始化
        type: code
        code: |
          def main(book_id: int, start_chapter_index: int, end_chapter_index: int):
              try:
                  book_id = int(book_id)
                  start = int(start_chapter_index)
                  end = int(end_chapter_index)
              except Exception:
                  return {
                      "is_valid": False,
                      "error_message": "book_id、start_chapter_index、end_chapter_index 必须是数字",
                      "chapter_numbers": [],
                      "total_chapters": 0,
                      "cursor": 0,
                      "role_state": "[]",
                  }

              if book_id <= 0:
                  return {
                      "is_valid": False,
                      "error_message": "book_id 必须大于 0",
                      "chapter_numbers": [],
                      "total_chapters": 0,
                      "cursor": 0,
                      "role_state": "[]",
                  }

              if start <= 0 or end <= 0:
                  return {
                      "is_valid": False,
                      "error_message": "章节 sortid 必须大于 0",
                      "chapter_numbers": [],
                      "total_chapters": 0,
                      "cursor": 0,
                      "role_state": "[]",
                  }

              if end < start:
                  end = start

              total = end - start + 1
              if total > 100:
                  return {
                      "is_valid": False,
                      "error_message": "章节范围最多支持 100 章，请缩小 start_chapter_index 和 end_chapter_index 的范围",
                      "chapter_numbers": [],
                      "total_chapters": 0,
                      "cursor": 0,
                      "role_state": "[]",
                  }

              chapter_numbers = list(range(start, end + 1))
              return {
                  "is_valid": True,
                  "error_message": "",
                  "chapter_numbers": chapter_numbers,
                  "total_chapters": total,
                  "cursor": 0,
                  "role_state": "[]",
              }
        code_language: python3
        variables:
        - value_selector:
          - '1000000000001'
          - book_id
          value_type: number
          variable: book_id
        - value_selector:
          - '1000000000001'
          - start_chapter_index
          value_type: number
          variable: start_chapter_index
        - value_selector:
          - '1000000000001'
          - end_chapter_index
          value_type: number
          variable: end_chapter_index
        outputs:
          is_valid:
            children: 
            type: boolean
          error_message:
            children: 
            type: string
          chapter_numbers:
            children: 
            type: array[number]
          total_chapters:
            children: 
            type: number
          cursor:
            children: 
            type: number
          role_state:
            children: 
            type: string
      height: 52
      id: '1000000000002'
      position:
        x: 380
        y: 315
      positionAbsolute:
        x: 380
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        title: 范围是否合法
        type: if-else
        cases:
        - id: 'true'
          case_id: 'true'
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: valid-condition
            value: 'true'
            varType: boolean
            variable_selector:
            - '1000000000002'
            - is_valid
      height: 126
      id: '1000000000003'
      position:
        x: 680
        y: 315
      positionAbsolute:
        x: 680
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        title: 错误输出
        type: end
        outputs:
        - value_selector:
          - '1000000000002'
          - error_message
          value_type: string
          variable: error_message
      height: 88
      id: '1000000000004'
      position:
        x: 980
        y: 160
      positionAbsolute:
        x: 980
        y: 160
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        selected: false
        title: 初始化循环变量
        type: assigner
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1000000000002'
          - cursor
          variable_selector:
          - conversation
          - cursor
          write_mode: over-write
        - input_type: variable
          operation: over-write
          value:
          - '1000000000002'
          - role_state
          variable_selector:
          - conversation
          - role_state
          write_mode: over-write
        version: '2'
      height: 88
      id: '1000000000017'
      position:
        x: 980
        y: 315
      positionAbsolute:
        x: 980
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        title: 逐章分析与增量合并
        type: loop
        break_conditions: []
        error_handle_mode: terminated
        loop_count: 100
        start_node_id: 1000000000005start
        width: 1750
        height: 520
        desc: ''
        logical_operator: and
      height: 520
      id: '1000000000005'
      position:
        x: 1260
        y: 315
      positionAbsolute:
        x: 1260
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1750
      zIndex: 1
    - data:
        selected: false
        title: ''
        type: loop-start
        isInLoop: true
        desc: ''
      height: 48
      id: 1000000000005start
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1005
        y: 395
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-loop-start
      width: 44
      parentId: '1000000000005'
      draggable: false
      selectable: false
      zIndex: 1002
    - data:
        desc: ''
        selected: false
        title: 检查是否完成
        type: code
        isInIteration: false
        isInLoop: true
        loop_id: '1000000000005'
        code: |
          def main(cursor: int, total_chapters: int):
              cursor = int(cursor)
              total = int(total_chapters)
              return {
                  "is_done": cursor >= total
              }
        code_language: python3
        variables:
        - value_selector:
          - conversation
          - cursor
          value_type: number
          variable: cursor
        - value_selector:
          - '1000000000002'
          - total_chapters
          value_type: number
          variable: total_chapters
        outputs:
          is_done:
            children: 
            type: boolean
      height: 52
      id: '1000000000018'
      position:
        x: 1365
        y: 395
      positionAbsolute:
        x: 1365
        y: 395
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      parentId: '1000000000005'
      zIndex: 1002
    - data:
        selected: false
        title: 是否完成全部章节
        type: if-else
        isInLoop: true
        loop_id: '1000000000005'
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: finished-condition
            value: 'true'
            varType: boolean
            variable_selector:
            - '1000000000018'
            - is_done
          id: 'true'
          logical_operator: and
      height: 126
      id: '1000000000006'
      position:
        x: 1645
        y: 395
      positionAbsolute:
        x: 1645
        y: 395
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      parentId: '1000000000005'
      zIndex: 1002
    - data:
        selected: false
        title: 退出循环
        type: loop-end
        isInLoop: true
        loop_id: '1000000000005'
        outputs:
        - value_selector:
          - conversation
          - role_state
          value_type: string
          variable: role_state
      height: 88
      id: '1000000000007'
      position:
        x: 1945
        y: 290
      positionAbsolute:
        x: 1945
        y: 290
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      parentId: '1000000000005'
      zIndex: 1002
    - data:
        selected: false
        title: 取当前章节
        type: code
        isInLoop: true
        loop_id: '1000000000005'
        code: |
          def main(chapter_numbers: list, cursor: int):
              cursor = int(cursor)
              current_chapter = int(chapter_numbers[cursor])
              return {
                  "current_chapter": current_chapter,
                  "next_cursor": cursor + 1,
              }
        code_language: python3
        variables:
        - value_selector:
          - '1000000000002'
          - chapter_numbers
          value_type: array[number]
          variable: chapter_numbers
        - value_selector:
          - conversation
          - cursor
          value_type: number
          variable: cursor
        outputs:
          current_chapter:
            children: 
            type: number
          next_cursor:
            children: 
            type: number
      height: 52
      id: '1000000000008'
      position:
        x: 1945
        y: 430
      positionAbsolute:
        x: 1945
        y: 430
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      parentId: '1000000000005'
      zIndex: 1002
    - data:
        selected: false
        title: 获取书库书籍章节内容
        type: tool
        is_team_authorization: true
        paramSchemas:
        - auto_generate: 
          default: 
          form: form
          human_description:
            en_US: 书籍ID
            ja_JP: 书籍ID
            pt_BR: 书籍ID
            zh_Hans: 书籍ID
          label:
            en_US: book_id
            ja_JP: book_id
            pt_BR: book_id
            zh_Hans: book_id
          llm_description: 书籍ID
          max: 
          min: 
          name: book_id
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: 
          required: true
          scope: 
          template: 
          type: number
        - auto_generate: 
          default: 
          form: form
          human_description:
            en_US: 起始章节（从1开始）
            ja_JP: 起始章节（从1开始）
            pt_BR: 起始章节（从1开始）
            zh_Hans: 起始章节（从1开始）
          label:
            en_US: start_chapter
            ja_JP: start_chapter
            pt_BR: start_chapter
            zh_Hans: start_chapter
          llm_description: 起始章节（从1开始）
          max: 
          min: 
          name: start_chapter
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: 
          required: true
          scope: 
          template: 
          type: number
        - auto_generate: 
          default: 
          form: form
          human_description:
            en_US: 结束章节
            ja_JP: 结束章节
            pt_BR: 结束章节
            zh_Hans: 结束章节
          label:
            en_US: end_chapter
            ja_JP: end_chapter
            pt_BR: end_chapter
            zh_Hans: end_chapter
          llm_description: 结束章节
          max: 
          min: 
          name: end_chapter
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: 
          required: true
          scope: 
          template: 
          type: number
        - auto_generate: 
          default: 
          form: llm
          human_description:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          label:
            en_US: item_type
            ja_JP: item_type
            pt_BR: item_type
            zh_Hans: item_type
          llm_description: ''
          max: 
          min: 
          name: item_type
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: 
          required: false
          scope: 
          template: 
          type: number
        provider_icon:
          background: "#E6F4D7"
          content: book
        provider_id: 1f1d0a7c-eedb-446e-be0e-a887b71cd1db
        provider_name: 获取书库书籍章节内容
        provider_type: workflow
        tool_description: 根据书籍ID、起始章节和结束张杰获取书库书籍相应章节的内容
        tool_label: 获取书库书籍章节内容
        tool_name: get_book_chapter_content
        tool_node_version: '2'
        isInLoop: true
        loop_id: '1000000000005'
        params:
          book_id: ''
          end_chapter: ''
          item_type: ''
          start_chapter: ''
        tool_configurations:
          book_id:
            type: variable
            value:
            - '1000000000001'
            - book_id
          start_chapter:
            type: variable
            value:
            - '1000000000008'
            - current_chapter
          end_chapter:
            type: variable
            value:
            - '1000000000008'
            - current_chapter
        tool_parameters:
          item_type:
            type: constant
            value: 1
      height: 140
      id: '1000000000009'
      position:
        x: 2225
        y: 430
      positionAbsolute:
        x: 2225
        y: 430
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      parentId: '1000000000005'
      zIndex: 1002
    - data:
        selected: false
        title: 单章角色分析
        type: llm
        isInLoop: true
        loop_id: '1000000000005'
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: single-system-prompt
          role: system
          text: |-
            你是小说角色识别与角色定位分析专家。你需要根据单章小说内容，识别本章中实际出现或被明确提及的角色，并判断每个角色在全书叙事中的阶段性定位。

            角色定位只能从以下三类选择：
            1. 核心角色：主角、主要反派、主要同伴、主要对手、长期驱动主线冲突或主线成长的人物。
            2. 重要角色：对本章或近期情节有明显推动作用，和核心角色存在明确关系，参与关键事件、冲突、任务、势力关系或重要信息传递的人物。
            3. 边缘角色：短暂出场、背景人物、工具性人物、路人、只被轻微提及，或目前缺少证据证明其重要性的人物。

            判断要求：
            - 只根据章节原文判断，不得脑补后续剧情。
            - 如果证据不足，优先判为较低定位。
            - 同一个角色的不同称呼、身份称号、外号可以写入 aliases，但不要把缺乏证据的同姓、同职位、同称号人物强行合并。
            - 判断依据必须来自原文，可概括但不能编造。
            - 输出必须是合法 JSON，不要输出 Markdown，不要输出解释性文字。

            输出 JSON 结构：
            {
              "chapter_index": 章节编号,
              "chapter_title": "章节标题",
              "roles": [
                {
                  "name": "标准角色名",
                  "aliases": ["别名或称谓"],
                  "position": "核心角色 | 重要角色 | 边缘角色",
                  "evidence": [
                    {
                      "text": "原文依据或高度贴近原文的简短概括",
                      "reason": "为什么该依据支持这个定位"
                    }
                  ]
                }
              ]
            }
        - id: single-user-prompt
          role: user
          text: |-
            章节编号：{{#1000000000008.current_chapter#}}

            章节内容：
            {{#1000000000009.text#}}
        vision:
          enabled: false
      height: 88
      id: '1000000000010'
      position:
        x: 2505
        y: 430
      positionAbsolute:
        x: 2505
        y: 430
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      parentId: '1000000000005'
      zIndex: 1002
    - data:
        selected: false
        title: 解析单章 JSON
        type: code
        isInLoop: true
        loop_id: '1000000000005'
        code: |
          def main(text: str, current_chapter: int):
              import json
              import re

              raw = (text or "").strip()
              raw = re.sub(r"^```(?:json)?", "", raw).strip()
              raw = re.sub(r"```$", "", raw).strip()

              try:
                  data = json.loads(raw)
              except Exception:
                  data = {
                      "chapter_index": int(current_chapter),
                      "chapter_title": "",
                      "roles": [],
                      "parse_error": True,
                      "raw_text": raw[:1000],
                  }

              if not isinstance(data, dict):
                  data = {
                      "chapter_index": int(current_chapter),
                      "chapter_title": "",
                      "roles": [],
                      "parse_error": True,
                      "raw_text": raw[:1000],
                  }

              roles = data.get("roles")
              if not isinstance(roles, list):
                  data["roles"] = []

              return {
                  "chapter_roles_json": json.dumps(data, ensure_ascii=False),
              }
        code_language: python3
        variables:
        - value_selector:
          - '1000000000010'
          - text
          value_type: string
          variable: text
        - value_selector:
          - '1000000000008'
          - current_chapter
          value_type: number
          variable: current_chapter
        outputs:
          chapter_roles_json:
            children: 
            type: string
      height: 52
      id: '1000000000011'
      position:
        x: 2785
        y: 430
      positionAbsolute:
        x: 2785
        y: 430
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      parentId: '1000000000005'
      zIndex: 1002
    - data:
        selected: false
        title: 增量合并角色结果
        type: llm
        isInLoop: true
        loop_id: '1000000000005'
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: merge-system-prompt
          role: system
          text: |-
            你是小说角色表增量合并专家。你需要把“历史角色状态”和“当前章节角色分析”合并成新的角色状态。

            合并规则：
            1. 角色去重：同一角色的本名、外号、尊称、身份称号可以合并，但必须有文本证据或上下文强关联。不能仅凭同姓、同职业、同称号合并。
            2. 角色定位优先级：核心角色 > 重要角色 > 边缘角色。
            3. 定位升级：如果当前章节提供了更强证据，可以把角色从边缘升级到重要，或从重要升级到核心。
            4. 定位降级：通常不要降级，除非历史状态明显来自解析错误。
            5. 判断依据要累积，但每个角色最多保留 5 条最强依据，优先保留能体现主线推动、关键关系、关键行动、反复出现的证据。
            6. 对角色名进行规范化：name 使用最明确、最稳定的称呼；其他称呼放入 aliases。
            7. 输出必须是合法 JSON，不要输出 Markdown，不要输出解释性文字。

            历史角色状态 JSON 结构：
            [
              {
                "name": "标准角色名",
                "aliases": ["别名"],
                "position": "核心角色 | 重要角色 | 边缘角色",
                "evidence": [
                  {
                    "chapter": 1,
                    "chapter_title": "章节标题",
                    "text": "依据",
                    "reason": "原因"
                  }
                ],
                "chapters_seen": [1]
              }
            ]

            请输出同样结构的 JSON 数组。
        - id: merge-user-prompt
          role: user
          text: |-
            历史角色状态：
            {{#conversation.role_state#}}

            当前章节角色分析：
            {{#1000000000011.chapter_roles_json#}}
        vision:
          enabled: false
      height: 88
      id: '1000000000012'
      position:
        x: 3065
        y: 430
      positionAbsolute:
        x: 3065
        y: 430
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      parentId: '1000000000005'
      zIndex: 1002
    - data:
        selected: false
        title: 规范化合并结果
        type: code
        isInLoop: true
        loop_id: '1000000000005'
        code: |
          def main(text: str, fallback_state: str):
              import json
              import re

              allowed = {"核心角色", "重要角色", "边缘角色"}

              def parse_json(value):
                  raw = (value or "").strip()
                  raw = re.sub(r"^```(?:json)?", "", raw).strip()
                  raw = re.sub(r"```$", "", raw).strip()
                  return json.loads(raw)

              try:
                  data = parse_json(text)
              except Exception:
                  try:
                      data = parse_json(fallback_state)
                  except Exception:
                      data = []

              if not isinstance(data, list):
                  data = []

              normalized = []
              seen = set()
              for item in data:
                  if not isinstance(item, dict):
                      continue

                  name = str(item.get("name", "")).strip()
                  if not name or name in seen:
                      continue
                  seen.add(name)

                  position = str(item.get("position", "边缘角色")).strip()
                  if position not in allowed:
                      position = "边缘角色"

                  aliases = item.get("aliases", [])
                  if not isinstance(aliases, list):
                      aliases = []
                  aliases = [str(x).strip() for x in aliases if str(x).strip() and str(x).strip() != name]

                  evidence = item.get("evidence", [])
                  if not isinstance(evidence, list):
                      evidence = []
                  evidence = evidence[:5]

                  chapters_seen = item.get("chapters_seen", [])
                  if not isinstance(chapters_seen, list):
                      chapters_seen = []
                  clean_chapters = []
                  for x in chapters_seen:
                      try:
                          clean_chapters.append(int(x))
                      except Exception:
                          pass
                  chapters_seen = sorted(set(clean_chapters))

                  normalized.append({
                      "name": name,
                      "aliases": aliases[:10],
                      "position": position,
                      "evidence": evidence,
                      "chapters_seen": chapters_seen,
                  })

              rank = {"核心角色": 0, "重要角色": 1, "边缘角色": 2}
              normalized.sort(key=lambda x: (rank.get(x["position"], 9), x["name"]))

              return {
                  "new_role_state": json.dumps(normalized, ensure_ascii=False),
              }
        code_language: python3
        variables:
        - value_selector:
          - '1000000000012'
          - text
          value_type: string
          variable: text
        - value_selector:
          - conversation
          - role_state
          value_type: string
          variable: fallback_state
        outputs:
          new_role_state:
            children: 
            type: string
      height: 52
      id: '1000000000013'
      position:
        x: 3345
        y: 430
      positionAbsolute:
        x: 3345
        y: 430
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      parentId: '1000000000005'
      zIndex: 1002
    - data:
        selected: false
        title: 更新循环变量
        type: assigner
        isInLoop: true
        loop_id: '1000000000005'
        items:
        - input_type: variable
          operation: over-write
          variable_selector:
          - conversation
          - role_state
          write_mode: over-write
          value:
          - '1000000000013'
          - new_role_state
        - input_type: variable
          operation: over-write
          variable_selector:
          - conversation
          - cursor
          write_mode: over-write
          value:
          - '1000000000008'
          - next_cursor
        version: '2'
      height: 88
      id: '1000000000014'
      position:
        x: 3625
        y: 430
      positionAbsolute:
        x: 3625
        y: 430
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      parentId: '1000000000005'
      zIndex: 1002
    - data:
        selected: false
        title: 最终格式化输出
        type: code
        code: |
          def main(role_state: str):
              import json

              try:
                  data = json.loads(role_state or "[]")
              except Exception:
                  data = []

              result = []
              for item in data:
                  if not isinstance(item, dict):
                      continue

                  evidence_texts = []
                  for ev in item.get("evidence", []):
                      if isinstance(ev, dict):
                          chapter = ev.get("chapter")
                          text = ev.get("text") or ""
                          reason = ev.get("reason") or ""
                          prefix = f"第{chapter}章：" if chapter else ""
                          merged = f"{prefix}{text}"
                          if reason:
                              merged += f"（{reason}）"
                          if merged.strip():
                              evidence_texts.append(merged.strip())
                      elif isinstance(ev, str) and ev.strip():
                          evidence_texts.append(ev.strip())

                  result.append({
                      "角色名": item.get("name", ""),
                      "角色定位": item.get("position", "边缘角色"),
                      "判断依据": evidence_texts[:5],
                  })

              rank = {"核心角色": 0, "重要角色": 1, "边缘角色": 2}
              result.sort(key=lambda x: (rank.get(x["角色定位"], 9), x["角色名"]))

              return {
                  "result": json.dumps(result, ensure_ascii=False, indent=2),
              }
        code_language: python3
        variables:
        - value_selector:
          - conversation
          - role_state
          value_type: string
          variable: role_state
        outputs:
          result:
            children: 
            type: string
      height: 52
      id: '1000000000015'
      position:
        x: 3240
        y: 315
      positionAbsolute:
        x: 3240
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        selected: false
        title: 输出
        type: end
        outputs:
        - value_selector:
          - '1000000000015'
          - result
          value_type: string
          variable: result
      height: 88
      id: '1000000000016'
      position:
        x: 3540
        y: 315
      positionAbsolute:
        x: 3540
        y: 315
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 0.5
  rag_pipeline_variables: []
